.hero {
    height: 600px;
    background-image: url(../assets/home/image-homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction {
    width: 445px;
    height: 357px;
    background: #FAFAFA;
}

.introduction span {
    margin-right: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.down-arrow {
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.1);
}

.down-arrow img {
    width: 16px;
    height: 12px;
}

.about {
    height: 600px;
    margin: 120px 0;
}

.about-me {
    width: 430px;
    
    border-top: solid 1px rgba(51, 50, 61, 0.15);
    border-bottom: solid 1px rgba(51, 50, 61, 0.15);
}

.about-me p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    /* or 187% */

    color: rgba(51, 50, 61, 0.8);
}


